@font-face {
    font-family: "iransans";
    src: url(../fonts/IRANSans/IRANSans.ttf);
}
@font-face {
    font-family: "lalezar";
    src: url(../fonts/Lalezar-Font/TTF/Lalezar-Regular.ttf);
}
body{
    overflow-x: hidden !important;
    font-family: "iransans" !important;
}
.lalezar{
    font-family: "lalezar" !important;
}
.iransans{
    font-family: "iransans" !important;
}