:root {
    --primery: #F59D40;
    --primery-Low: #fdf0e2;
    --Secondary: #0094CC;
    --Secondary-Low: #e6f7f9;
    --Gray-1 : #E9E9E9;
    --Gray-2 : #6A6A6A;
    --Gray-3 : #4E4E4E;
}


body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}
/* 
a {
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.8 !important;
    color: var(--color-base);
    margin: 0 0;
}

.moraba {
    font-family: "moraba" !important;
}

.dana-blod {
    font-family: "dana-blod" !important;
}

.dana {
    font-family: "dana" !important;
}

.primery {
    color: var(--primery) !important;
}

.bg-primary{
    background-color: var(--primery) !important;
}

.Secondary{
    color: var(--Secondary);
}
.green{
    color: var(--Secondary);
}
.bg-white{
    background-color: #fff;
}
.bg-box{
    background-color: var(--primery-Low);
    color: var(--primery);
}

.bg-secondary{
    background-color: var(--Secondary) !important;
}
.bg-secondary-low{
    background-color: var(--Secondary-Low) !important;
}




.line , .line-info{
    width: 150px;
    height: 3px;
    background-color: var(--Secondary);
    border-radius: 5px;
}

.line-info{
    background-color: var(--primery);
} */

/* 
.btnAll{
    background-color: var(--primery-Low) !important;
    color: var(--primery) !important;
    cursor: pointer;
}
.content-bg-1{
    background-color: var(--primery-Low);
}
.content-bg-2{
    background-color: var(--Secondary-Low);
}

 */

.round {
    border-radius: 10px !important;
}

.round-5{
    border-radius: 1rem;
}

.fs-7{
    font-size: 12px;
}

.c-p{
    cursor: pointer;
}

.img-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.flex-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Bootstrap Custom */


.accordion-button:not(.collapsed) , .accordion-button:focus {
    box-shadow: none;
    background-color: transparent;
}