
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.admin-profile {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-right: 20px;
}

.admin-profile img {
    width: 55px;
    border-radius: 50%;
}

.admin-profile div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.admin-profile div h1 {
    font-size: 1.2rem;
}

.admin-profile div h3 {
    color: #858585;
}

.header-left-section {
    display: flex;
    column-gap: 10px;
}

.search-box {
    display: block;
    background-color: var(--white);
    border-radius: 50px;
    width: 300px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.search-box input {
    outline: none;
    border: none;
    background: unset;
    width: 100%;
    font-size: 1.1rem;
    padding: 10px 20px 10px 10px;
}

.search-box button {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 50%;
    background-color: #10163a;
    color: var(--white);
    padding: 12px 12px;
}

.header-left-icon {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #10163a;
    color: var(--white);
    width: 45px;
    height: 45px;
    box-shadow: rgba(149, 157, 165, 0.8) 0 8px 24px;
    font-size: 1.5rem;
}


.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .menu-btn {
        display: block;
    }
    .admin-profile img {
        width: 40px;
        border-radius: 50%;
    }
    .admin-profile div h1 {
        font-size: .9rem;
    }
    
    .admin-profile div h3 {
        font-size: .7rem;
    }
    .header-left-icon {
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
    }
    .header-left-section {
        margin-left: 10px;
    }
    
}

@media (max-width: 940px) {

    .search-box {
        display: none;
    }
    
}